*{
  padding: 0;
  margin: 0;
}
.top{
  height: 53px;
  border: solid 1px black;
  font-size: 30px;
  line-height: 50px;
  background-color: gainsboro;
}
#wrap .top .times{
  width: 200px;
  float: left;
}
#wrap .top .iocns{
  width: 306px;
  float: right;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
#wrap .titiles{
  height: 100px;
  border: none;
  background-color: gainsboro;
}
.titiles .tit_content{
  width: 100px;
  font-size: 37px;
  font-family: 仿宋;
  line-height: 91px;
  float: left;
  margin-left: 15px;
}
#wrap .titiles .iocns{
  width: 150px;
  height: 90px;
  float: right;
  line-height: 91px;
}
.titiles.iconfont{
  height: 90px;
}
.test {
  font-size: 45px;
}
.test1{
  float: right;
  width: 75px;
  font-size: 54px;
}
#wrap ul{
  list-style: none;
  height: 1362px;
  overflow: scroll;
  background-color: skyblue;
}
#wrap ul li{
  height: 151px;
  border-bottom: solid 1px black;
}
#wrap ul img{
  width: 120px;
  height: 120px;
  margin:10px 0 10px 20px;
  border-radius: 20px;
  float: left;
}
#wrap ul .linkman{
  font-size: 45px;
  font-weight: 600;
  font-family: 仿宋;
  margin: 15px 0 15px 160px;
}
#wrap .linkman .time2{
  font-size: 25px;
  font-weight: 400;
  font-family: 仿宋;
  float: right;
  margin: 20px 30px 10px;
}
#wrap ul .chat_frame{
  font-size: 30px;
  font-family: 仿宋;
  margin-left: 160px;
}
#wrap .manager{
  display: flex;
  height: 225px;
  border-width: 1px 0 0 0;
}
#wrap .manager a{
  flex: 1;
  border: none;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  color: black;
  opacity: 0.7;
}
#wrap .manager{

  background-color: gainsboro;
}
#wrap .manager .iconfont{
  font-size: 120px;
}
#wrap .manager span{
  font-size: 35px;
  font-family: 仿宋;
}
#wrap .titiles .iocns #jiahao_one{
  display: none;
}
#wrap .titiles .iocns #jiahao{
  width: 395px;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  right: 35px;
  top: 160px;
  z-index: 521;
}
#wrap .titiles #jiahao .jiahao_content{
  height: 630px;
}
#wrap .titiles #jiahao .jiahao_content li{
  height: 125px;
  font-family: 仿宋;
  font-size: 40px;
  color: white;
  border-bottom:1px solid rgba(136,136,136,0.5);
}
#wrap .titiles .iocns #triangle{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid gray;
  position: absolute;
  right: 51px;
  top: 141px;
}
#wrap .titiles .iocns .test1:hover+#jiahao_one{
  display: block;
}
@keyframes test{
  from{
    width: 0px;
  }
  to{
    width: 100px;
  }
}

.dian{
  width: 13px;
  height: 20px;
  background-color: #1afa29;
  animation: test 4s infinite;
  position: relative;
  top: 15px;
 left: 266px;
}


